@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
   min-height: 100vh;
    background: linear-gradient(#87CEEB, #fff);
}
header {
   position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo img {
    display: block;
    position: absolute;
    top: -220%;
    left: -7%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    /* color: #018791;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px; */
    
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li {
    list-style: none;
    margin-left: 20px;

}
header ul li a {
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: #3586ff;
    border-radius: 20px;
}
header ul li a::after{
    content: "";
    position: absolute;
    color: #ffff;
    background-color: #3586FF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
header ul li a:hover, header ul li a.active {
    color:#ffff;
}
header ul li a:hover:after
{
    width: 100%;
    
}
/*.menu-toggle {
    display: none;
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 24px;
    object-fit: cover;
}
@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header ul li a {
        display: none;
    }
}*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
section::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #3586FF, transparent);
    z-index: 10;
}
section img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}
section img#rocks {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: saturate(0%);

}
section img#forest {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: saturate(40%);

}
section #text {
    position: absolute;
    color: #3586ff;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Gentium Book Plus', serif;
    transform: translateY(-50%);
    border-radius: 50%;
    text-shadow: 0 0 0 2px#fff9,
    0 0 0 20px #333,
    0 0 0 22px #fff,
    0 0 50px #fff;
}
section #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
}
#btn {
    
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        background: #262626;
        color: #3586ff;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 40px;
        transform: translateY(100px);
    
}
#btn:hover {
    color: #ffff;
}
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 200px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
.sec {
    position: relative;
    padding: 100px;
    background: #3586FF;
}
.sec h2 {
    font-size: 3.5em;
    color: white;
    margin-bottom: 10px;
}
.sec p {
    font-size: 1em;
    color: white;
}